.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  > div:not(.input-group) {
    display: flex;
    justify-content: center;
  }
}
